<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div id="titlehead">
                <a href="/">
                    <h3>Book Drive Test</h3>
                </a>
            </div>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
                <% if(LoggedIn && UserType == "Driver") { %>
                <li class="nav-item"><a class="nav-link" href="/G2">G2 License</a></li>
                <li class="nav-item"><a class="nav-link" href="/G">G License</a></li>
                <li class="nav-item"><a class="nav-link" href="/myResult">My Results</a></li>
                <% } %>

                <% if(LoggedIn && UserType == "Admin") { %>
                    <li class="nav-item"><a class="nav-link" href="/appointment">Appointment</a></li>
                    <li class="nav-item"><a class="nav-link" href="/results">Results</a></li>
                <% } %>

                <% if(LoggedIn && UserType == "Examiner") { %>
                    <li class="nav-item"><a class="nav-link" href="/examiner">Examiner</a></li>
                <% } %>
                
                <% if(!LoggedIn) { %>
                <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/signup">Signup</a></li>
                <% } %>

                <% if(LoggedIn) { %>
                <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
                <% } %>
            </ul>


        </div>
    </div>
</nav>